<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cucumber007.prototypes"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".activities.content_provider.TestContentProvider"
            android:authorities="@string/provider_authority"
            android:exported="false"/>

        <activity android:name=".menu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities._ui.recycler.RecyclerActivity">
        </activity>
        <activity android:name=".activities._libraries.butterknife.ButterknifeActivity">
        </activity>
        <activity android:name=".activities._architecture.mvc.MvcActivity">
        </activity>
        <activity android:name=".activities._libraries.rxjava.RxJavaActivity">
        </activity>
        <activity android:name=".activities.lambda.LambdaActivity">
        </activity>
        <activity android:name=".activities._libraries.retrofit.RetrofitActivity">
        </activity>
        <activity android:name=".activities._ui.views.ViewsActivity">
        </activity>
        <activity android:name=".activities._ui.xml_drawables.XmlDrawableActivity">
        </activity>
        <activity android:name=".activities.files_and_loader.FilesAndLoaderActivity">
        </activity>
        <activity
            android:name=".activities._ui.views.StylesActivity"
            android:theme="@style/TestStyle2">
        </activity>
        <activity
            android:name=".activities.content_provider.ContentProviderActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".activities.java.JavaCoreActivity">
        </activity>
        <activity android:name=".activities.sandbox.SandboxActivity">
        </activity>
        <activity android:name=".activities.sandbox.TestActivity">
        </activity>
        <activity android:name=".activities._architecture.mvp.MvpActivity">
        </activity>
        <activity android:name=".activities._ui.custom_view.CustomViewActivity">
        </activity>
        <activity
            android:name=".activities._ui.navigationDrawer.NavigationDrawerActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".activities._ui.coordinator.CoordinatorLayoutActivity">
        </activity>
        <activity android:name=".activities.graphics.BlurActivity">
        </activity>
        <activity
            android:name=".activities.graphics.AfterBlurActivity"
            android:theme="@style/Theme.Transparent">
        </activity>
        <activity
            android:name=".activities.orientation.OrientationActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
        </activity>
        <activity android:name=".activities._ui.viewpager.ViewPagerActivity">
        </activity>
        <activity
            android:name=".activities._ui.activity_templates.BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities._ui.activity_templates.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".activities._ui.activity_templates.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".activities._ui.activity_templates.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities._ui.activity_templates.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".activities._ui.activity_templates.ItemListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cucumber007.prototypes.activities._ui.activity_templates.ItemListActivity"/>
        </activity>
        <activity
            android:name=".activities._ui.activity_templates.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities._ui.activity_templates.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".activities._ui.activity_templates.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".activities._ui.views.GridViewActivity">
        </activity>
        <activity android:name=".activities._libraries.reactive_location.ReactiveLocationActivity">
        </activity>
    </application>

</manifest>